
* {
    margin: 0;
    padding: 0;
    user-select: none;
}


body {
    background-color: rgba(2, 2, 12, 0.979);
}

#container {
    
    width: 900px;
    height: 100vh;
   position: relative;
    /* overflow: hidden; */
    margin: auto;
    border: 1px solid black;
}

#frame1 {

    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -200px;
    background-color: rgba(185, 182, 172, 0.534);
    margin: auto;
    overflow-y: hidden;
    z-index: 11;
    /* transform: matrix(0, 1, -1, 0, 0, 0) */
    transform: matrix3d( 2, 5, 0, 0, -3.5, 1, 0, -0.01, 0, 0, 1, 0, 0, 0, 0, 2) ;
 
   
}



#frame2 {
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -200px;
    background-color: rgba(185, 182, 172, 0.534);
    margin: auto;
    overflow-y: hidden;
    z-index: 11;
    transform: matrix3d( -2, 5, 0, 0, 3.5, 1, 0, -0.01, 0, 0, 1, 0, 0, 0, 0, 2) ;
}
.child1, .child2 {
    width: 100%;
    height: 10px;
    /* margin-top: 5px; */
    /* background-color: rgb(240, 255, 255); */
}

#road {
    width: 50%;
    height: 76%;
    position: absolute;
    top: 110px;
    left: 25%;
    /* bottom: 50px; */
    overflow-y: hidden;
    background-color: rgb(61, 51, 51);
    transform: matrix3d( 1, 0, 0, 0, 0, 3, 2, -0.013, 0, 0, 1, 0, 0, 0, 0, 2) ;

    /* transform: rotatey(45deg); */
}

#line {
    position: absolute;
    height: 100%;
    width: 5px;
    border-left: 1px dashed white;
    border-right: 1px dashed white;
    left: 49%;
    top: 0;
    transform: matrix3d( 1, 0, 0, 0, 0, 3, 2, -0.013, 0, 0, 1, 0, 0, 0, 0, 2) ;
}

#car {
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: rgb(245, 12, 12);
    /* bottom: 250px; */
    top: 60%;
    left: 410px;
    /* right: 10px; */
    border-radius: 30%;
    z-index: 15;
     transform: matrix3d( 1, 0, 0, 0, 0, 1, 1, -0.02, 0, 0, 1, 0, 0, 0, 0, 2) ;
}
.money {
    position: relative;
    width: 30px;
    height: 10px;
   
    border-radius: 40%;
    z-index: 15;
     /* transform: matrix3d( 1, 0, 0, 0, 0, 1, 1, -0.02, 0, 0, 1, 0, 0, 0, 0, 2) ; */
}


#popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(247, 231, 7, 0.185);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup h1 {
    text-align: center;
    color: rgb(8, 6, 8);
}

#info {
    position: absolute;
    /* width: 30%; */
    height: 40px;
    padding: 15px;
    font-size: 20px;
    top: 0;
    left: 45%;
    color: azure; 
}


